{% extends 'base.html.twig' %}

{# {% block title %}
{% endblock %} #}

{% block main %}
	<!-- Section CAROUSEL-->
    
    <main class="container my-3">

        <div id="carousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{asset('/img/img2.jpg')}}" class="d-block w-100 img-fluid " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Défiez
                            <span class="auto-typing"></span>
                        </h5>
                        <p>Transformez votre passion en performance avec notre gamme de produits de pointe.</p>
                        <p>
                            <a href="#" class="btn btn-secondary mt-2">En savoir plus</a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{asset('img/img2.jpg')}}" class="d-block w-100 " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{asset('img/img2.jpg')}}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Avant</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </button>
        </div>

        <!-- Section PRESENTATION-->
        <div class="presentation">
            <div class="d-flex justify-content-center align-items-center mt-5">
                <p class="my-auto">E-success® se distingue dans la conception et la commercialisation de matériel sportif de qualité, <br> tout en offrant des services de coaching personnalisé pour ceux désireux de s'engager dans une pratique sportive </p>
            </div>
            <div class="text-center mt-3">
                <i class="bi bi-facebook me-2 fs-3"></i>
                <i class="bi bi-instagram me-2 fs-3"></i>
                <i class="bi bi-google me-2 fs-3"></i>
                <i class="bi bi-tiktok me-2 fs-3"></i>
            </div>
        </div>

        <!-- Section E SHOP-->
        <section id="about" class="about-section-padding">
        <div class="container">
            <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img">
                <img src="{{asset('img/workout.jpg')}}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                <h6>Notre Bestseller</h6>
                <h2>SMARTWORK OUT PRO </h2><br>
                <p>

                    Découvrez notre équipement de musculation révolutionnaire, conçu pour vous permettre de développer rapidement vos muscles, où que vous soyez et sans aucun accessoire supplémentaire :
                <ul>
                    <li>7 élastiques offrant une résistance totale de 120 kg</li>
                    <li>Fabriqués en latex naturel pour une durabilité maximale</li>
                    <li>Système de fixation incassable pour une sécurité optimale</li>
                    <li>Garantie de 5 ans pour une tranquillité d'esprit totale.</li>
                </ul>
                <a href="#" class="btn btn-warning">J'EN VEUX UN !</a>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div id=abouts>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12 pe-lg-5 mt-md-5">
                <div class="about-text">
                    <h6>Programmes musculation</h6>
                    <h2>L'APPLICATION E-SUCCESS </h2><br>
                    <p>
                    E-Success est une boutique spécialisée dans le domaine du sport, offrant une gamme variée de produits pour les personnes souhaitant commencer ou améliorer leurs performances sportives. En plus de nos produits de qualité, nous proposons un suivi complet de vos séances grâce à l'application E-Success.
                    </p>
                    <p>
                    Nos coaches sportifs, Mohammed et notre coach en développement personnel, Yannick, sont là pour vous accompagner dans l'atteinte de vos objectifs. Avec leur expertise, vous pourrez progresser de manière efficace et adaptée à vos besoins spécifiques. Chez E-Success, nous nous engageons à vous fournir les outils nécessaires pour réussir dans votre parcours sportif et personnel.
                    </p>
                    <a href="#" class="btn btn-warning">
                    Commencer
                    </a>
                </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img">
                    <img src="{{asset('img/application.png')}}" alt="" class="img-fluid">
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>

        <!-- Section SERVICE-->
        <section id="services" class="service section-padding ">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                <h2>Pourquoi Nous ?</h2>
                <h5>Choisissez-nous parce que nous nous engageons à offrir une expérience exceptionnelle à nos clients. Avec une attention minutieuse à la qualité, un service clientèle exceptionnel et des offres compétitives, nous nous efforçons de vous fournir les meilleurs produits et services sur le marché.</h5>
                </div>

                <div class="row">
                <div class="col-12 col-md-12 col-lg-4 my-2">
                    <div class="card text-white text-center bg-dark pb-2 h-100">
                    <div class="card-body">
                        <i class="bi bi-subtract"></i>
                        <h3 class="card-title">Meilleure Qualité</h3>
                        <p class="lead">En tête du marché de l'e-commerce, nous sommes reconnus pour notre offre inégalée de produits de qualité, répondant aux besoins et aux exigences des passionnés de sport les plus exigeants.</p>
                        <button class="btn btn-warning  text-dark">En savoir plus</button>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 my-2">
                    <div class="card text-white text-center bg-dark pb-2 h-100">
                    <div class="card-body">
                        <i class="bi bi-box-seam-fill"></i>
                        <h3 class="card-title">Livraison Express</h3>
                        <p class="lead">Pour une expérience sans égal, nous vous promettons des livraisons ultra-rapides, garanties entre 1 à 3 jours, assurant ainsi un service optimal et une satisfaction totale pour chacune de vos commandes.</p>
                        <button class="btn btn-warning  text-dark">En savoir plus</button>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 my-2">
                    <div class="card text-white text-center bg-dark pb-2 h-100">
                    <div class="card-body">
                        <i class="bi bi-chat-right-text"></i>
                        <h3 class="card-title">Service Client</h3>
                        <p class="lead">Dotés d'un service clientèle francophone disponible 24h/24 - 7j/7, nous sommes là pour répondre à vos questions, garantissant ainsi votre entière satisfaction et une expérience client exceptionnelle.</p>
                        <button class="btn btn-warning  text-dark">En savoir plus</button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
    </main>

{% endblock %}

{%block script%}
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

     <!-- JS -->
    <script>
      let typed = new Typed('.auto-typing',{
        strings:[' la routine','vos peurs','Vous.'],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
        fadeOut: true,
        fadeOutClass:'typed-fade-out',
        fadeOutDelay: 500
      })
    </script>
{% endblock %}
