{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="position-relative">
		<div class="d-flex justify-content-between py-2">
			<div class="">
				<a name="" id="" class="btn btn-primary" href="#" role="button">
					<i class="fas fa-user-plus me-1"></i>Nouveau</a>
			</div>
			<div class="">
				<a name="" id="" class="btn btn-success ms-2 " href="/show/3" role="button">
					<i class="fas fa-eye me-1"></i>Afficher</a>
				<a name="" id="" class="btn btn-warning ms-2 " href="javascript:edit()" role="button">
					<i class="fas fa-paintbrush me-1"></i>Modifier</a>
				<a name="" id="" class="btn btn-danger ms-2 " href="#" role="button">
					<i class="fas fa-trash-can me-1"></i>Supprimer</a>
			</div>
		</div>
		<div class="table-responsive mvh-70">
			<table class="table table-light table-striped table-hover my-auto text-center">
				<thead class='position-sticky top-0'>
					<tr class="table-dark">
						<th class="col-1" scope="col">
							<input class="form-check-input mx-auto" type="checkbox" value="" id="select_all"/>
						</th>
						<th class="col-1" scope="col">Id</th>
						<th class="col-3" scope="col">Nom</th>
						<th class="col-2" scope="col">Prénom</th>
						<th class="col-2" scope="col">Date de naissance</th>
						<th class="col-3" scope="col">Lieu de naissance</th>
					</tr>
				</thead>
				<tbody>
					{% for people in peoples %}
						<tr class="">
							<td scope="row">
								<input class="form-check-input mx-auto" type="checkbox" value="{{people.id}}" id="{{people.id}}" name="checkbox_list"/>
							</td>
							<td class="">
								<label class="form-check-label" for="{{people.id}}">{{people.id}}</label>
							</td>
							<td class="">
								<label class="form-check-label" for="{{people.id}}">{{people.name}}</label>
							</td>
							<td class="">
								<label class="form-check-label" for="{{people.id}}">{{people.surname}}</label>
							</td>
							<td class="">
								<label class="form-check-label" for="{{people.id}}">{{people.getDateBirth()|date('d-m-Y')}}</label>
							</td>
							<td class="">
								<label class="form-check-label" for="{{people.id}}">{{people.getPlaceBirth()}}</label>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot class="position-sticky bottom-0">
					<tr class="table-dark">
						<td colspan="6" class="">Nombre de personnes enregistré :{{nbre}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}
