<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}E-success
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{asset('style/fontawesome-free-6.5.1-web/css/all.css')}}">
		<link rel="stylesheet" href="{{asset('style/bootstrap-5.3.2-dist/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('style/style.css')}}">
		{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> #}

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
		<script src="{{asset('js/myScript.js')}}" defer></script>
		<script src="{{asset('js/ajax.js')}}" defer></script>


		{# à identifier #}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" defer></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
		<script src="{{asset('style/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js')}}" defer></script>


		{% block stylesheets %}{% endblock %}


	</head>
	<body class="d-flex flex-column ">
        <div class="">
            {# bandeau livraison #}
            <div class="promo">
                <p>Livraison GRATUITE dans toute L'EUROPE🌎</p>
            </div>
            {# header #}
            <header>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a href="/" class="navbar-brand">E-SUCCESS</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
					    </button>
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <!-- groupe navigation site -->
                            <ul
                                class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                <!-- lien pour tous -->
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Acceuil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="magasin">Magasin</a>
                                </li>
                                <!-- lien pour caisse et admin -->

                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('app_article_index')}}">Article</a>
                                </li>

                                <!-- lien pour sav et admin  -->

                                <li class="nav-item">
                                    <a class="nav-link" href="client">Client</a>
                                </li>

                                <!-- liens pour admin uniquement -->

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Parametre
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="user">User</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="role">Role</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="xlsx">Xlsx</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- groupe connexion compte création compte -->
                            <ul class="nav justify-content-lg-end flex-md-row">
                                <!-- si connecté afficher -->
                                <li class="nav-item w-100 ">
                                    <div class="dropdown open"> 
                                        {# <a href="" class="btn btn-secondary dropdown-toggle w-100 " type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Username
                                        </a> #}
                                        <div class="dropdown-menu dropdown-menu-lg-end w-100" aria-labelledby="triggerId">
                                            <a class="dropdown-item" href="login&action=logout">
                                                Se deconnecter
                                            </a>
                                        </div>
                                    </div>
                                    {# si visiteur #}
                                    <a href="login" class="btn btn-outline-success w-100 ">Se connecter ou s'inscrire</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        {# main #}
        <main class="container my-3">
		    {% block body %}{% endblock %}
        </main>
        {# FOOTER #}
		<footer class="container-fluid bg-black">
			<div
				class="container py-5 fixed-bottoma text-light ">
				<!-- <footer > -->
				<div class="row">
					<div class="col-12 col-md">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewbox="0 0 24 24">
							<title>Product</title>
							<circle cx="12" cy="12" r="10"/>
							<path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
						</svg>
						<small class="d-block mb-3 text-light">&copy; 2023–2024</small>
						<H5>E-SUCCESS</H5>
						<p>Nous sommes une équipe de 4 personnes passionnées par le développement, et nous avons
																																															                        développé ce
																																															                        site pour vendre des produits spécialisés dans le domaine du sport.</p>
					</div>
					<div class="col-6 col-md">
						<h5>Politique</h5>
						<ul class="list-unstyled text-small">
							<li>
								<a class="link-secondary text-decoration-none" href="#">Conditions générales de
																																																											                                vente</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Politique de remboursement</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Politique de confidentialité</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">A propos de nous</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Politique d'expédition</a>
							</li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>Nous contacter</h5>
						<p>Le service clientèle est ouvert du lundi au dimanche de 9h à 18h.</p>
						<ul class="list-unstyled text-small">
							<li>
								<a class="link-secondary text-decoration-none" href="#">contact@essuccess.com</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">24/7</a>
							</li>
							<form action="envoyer_mail.php" method="post">
								<div class="mb-3">
									<label for="email" class="form-label">Abonnez-vous à nos emails :</label>
									<input type="email" class="form-control" id="email" name="email" required>
								</div>
								<button type="submit" class="btn btn-primary">Envoyer</button>
							</form>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>Besoin d'aide ?</h5>
						<ul class="list-unstyled text-small">
							<li>
								<a class="link-secondary text-decoration-none" href="#">Suivre vos commandes</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Service Client</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Methode de paiement</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</body>
</html>
